<%- include("template/cabecera",{
    tituloweb:'Página index'
}) %> 
    <div class="container">
        <table class="table">
            <thead>
              <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre </th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Acciónn/th>
                </tr>
            </thead>
            <tbody>
                <% if (arraymascotas.length>0) { %>
                    <% arraymascotas.forEach(mascota => { %>
                        <tr>
                            <th scope="row"><%= mascota.id %> </th>
                            <td><%= mascota.nombre %></td>
                            <td><%= mascota.descripcion %></td>
                            <td>@mdo</td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
        
    </div>


    
<%- include("template/footer")%> 